* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.header {

}

#news-heading {
    font-size: 2.5rem;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

#news-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}
.news-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

iframe {
    width: 100%;
    border-radius: 8px;
}


.news-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 15px;
}

.news-item img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
}

.news-item .news-content {
    flex-grow: 1;
}

.news-item h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.news-item p {
    font-size: 1rem;
    color: #555;
}

.load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.load-more:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
